.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin: 20px;
}

p {
    margin: 0px;
}