.bar {
    display: flex;
}

/* SEARCH BUTTON */
.search-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 5px;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
}

.search-button:hover {
    background-color: #ccc;
    color: white;
}

/* TOGGLE LIST / GRID BUTTON */
.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toggler {
    border: none;
    margin-right: 5px;
    background-color: white;
    height: 53.5px;
    margin-bottom: 2px;
    font-weight: bold;
}

.toggler:hover {
    cursor: pointer;
    background: rgb(106, 156, 231);
}


/* RESULTS BUTTON */
nav {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-weight: bold;
}

li {
    color: black;
    background: white;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
}

li a {
    color: black;
}

li:hover {
    background: rgb(106, 156, 231);
    cursor: pointer;
}

ul li ul {
    background: rgb(237, 234, 228);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 1.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}